

<div class="container">
  <h1>
    <%= @query.capitalize %>
  </h1>
    <p>
      - You
    </p>
</div>

<div class="container">
  <h1>
    <%= @response %>
  </h1>
    <p>
      - Your Coach
    </p>
</div>

<div class = "button"><%= link_to "Ask a new question", ask_path %></div>
